
python-dotenv
streamlit
crewai
crewai-tools
litellm
folium
streamlit-folium
fpdf2
requests


''' 


python-dotenv
crewai==1.14.4
crewai-tools==1.14.4
streamlit==1.57.0
streamlit-folium==0.27.0
folium== 0.20.0
fpdf2==2.8.7
requests==2.32.3
python-dotenv==1.1.0
litellm==1.83.14

''' 

